name: Publish

on:
  workflow_dispatch:
  push:

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
    - name: Setup Node
      uses: actions/setup-node@v4
      with:
          node-version: '20.x'
          registry-url: 'https://registry.npmjs.org'
    - name: Install Dependencies
      run: yarn
    - name: TSC
      run: yarn tsc
    - name: Build Project
      run: yarn build
    - name: Get Version from package.json
      id: get_version
      run: echo "PACKAGE_VERSION=$(node -p "require('./package.json').version")" >> $GITHUB_ENV
    - name: Publish to npm
      run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
    - name: Create Release
      uses: ncipollo/release-action@v1
      with:
        bodyFile: "CHANGELOG.md"
        tag: v${{ env.PACKAGE_VERSION }}
        name: v${{ env.PACKAGE_VERSION }}
        token: ${{ secrets.PUB_GITHUB_TOKEN }}
